@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
  font-family: 'Lato', sans-serif;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face{
font-family: 'Dancing Script', cursive;
src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face{
font-family: 'Pathway Gothic One', sans-serif;
src: url("../fonts/PathwayGothicOne-Regular.ttf");
}
