$grey:#777;
$midnight:#333;
$black:#000;
$brown:#9c6614;
$light-grey:#f2f2f2;
$dark-grey:#808080;
$blue:#3c5b9b;
$red:#dc4d40;
$light-blue:#2daae1;
$dark-red:#cb2027;
$green:#669c41;
$white:#fff;
$davy-grey:#555;


$size1:10px;
$size2:20px;
$size3:30px;
$size4:40px;
