<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Barista Shop</title>
  <link rel="stylesheet" href="css/style.bundle.css" />
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <header class="header">
    <section class="menu-account">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <div class="d-flex flex-row justify-content-between">
              <div class="title_menu-account">BARISTA SHOP | COFFEE TOOLS & ACCESSORIES</div>
              <div>
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link title_menu-account" href="#">My account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link title_menu-account" href="#">FAQs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link title_menu-account" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="header-menu">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="brand-logo" href="#">Barista Shop</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars 2-x"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-search fa-2x"></i></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Barista Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">CLEANING</a>
                      <a class="dropdown-item" href="#">CUPS</a>
                      <a class="dropdown-item" href="#">FILTERS</a>
                      <a class="dropdown-item" href="#">GLASSES</a>
                      <a class="dropdown-item" href="#">KEEP CUP</a>
                      <a class="dropdown-item" href="#">KNOCK BOX</a>
                      <a class="dropdown-item" href="#">SERVER</a>
                      <a class="dropdown-item" href="#">TAMPING</a>
                      <a class="dropdown-item" href="#">FILTERS</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Equipment
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">CLEANING</a>
                      <a class="dropdown-item" href="#">CUPS</a>
                      <a class="dropdown-item" href="#">FILTERS</a>
                      <a class="dropdown-item" href="#">GLASSES</a>
                      <a class="dropdown-item" href="#">KEEP CUP</a>
                      <a class="dropdown-item" href="#">KNOCK BOX</a>
                      <a class="dropdown-item" href="#">SERVER</a>
                      <a class="dropdown-item" href="#">TAMPING</a>
                      <a class="dropdown-item" href="#">FILTERS</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All Brands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">CLEANING</a>
                      <a class="dropdown-item" href="#">CUPS</a>
                      <a class="dropdown-item" href="#">FILTERS</a>
                      <a class="dropdown-item" href="#">GLASSES</a>
                      <a class="dropdown-item" href="#">KEEP CUP</a>
                      <a class="dropdown-item" href="#">KNOCK BOX</a>
                      <a class="dropdown-item" href="#">SERVER</a>
                      <a class="dropdown-item" href="#">TAMPING</a>
                      <a class="dropdown-item" href="#">FILTERS</a>
                    </div>
                  </li>
                </ul>
                <div class="cart">
                  <a href="">Cart / $0.00&nbsp;<i class="fas fa-shopping-bag fa-2x"></i></a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="banner_area">
    <div class="container">
      <div class="row no-gutters pt-5">
        <div class="col-sm-12 col-lg-5 wrapper-banner1 mr-2">
          <h2 class="banner-title pt-5">Barista Assecories</h2>
          <h4 class="sub-banner-title">Barista Shop</h4>
          <button class="banner-button">Store Online</button>
        </div>
        <div class="col-sm-6 col-lg-3 wrapper-banner2 mr-2">
          <h2 class="banner-title pt-5">Barista Assecories</h2>
          <h4 class="sub-banner-title">Barista Shop</h4>
          <button class="banner-button">Store Online</button>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="row no-gutters">
            <div class="col-lg-12 wrapper-banner3">
              <h2 class="banner-title pt-5">Barista Assecories</h2>
              <h4 class="sub-banner-title">Barista Shop</h4>
              <button class="banner-button">Store Online</button>
            </div>
            <div class="col-lg-12 wrapper-banner4 mt-2">
              <h2 class="banner-title pt-5">Barista Assecories</h2>
              <h4 class="sub-banner-title">Barista Shop</h4>
              <button class="banner-button">Store Online</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="supplies_area pt-5 pb-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-12">
          <div class="d-flex flex-row">
            <div class="line1">
              <span class="figure-line1"></span>
            </div>
            <div class="title-supplies_area">
              <h3 class="text-center">BARISTA SUPPLIES</h3>
            </div>
            <div class="line2">
              <span class="figure-line1"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-12">
          <div id="shopCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="barista_brands mt-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-12">
          <div class="d-flex flex-row">
            <div class="title-supplies_area">
              <h3 class="text-center">BARISTA BRANDS</h3>
            </div>
            <div class="line3">
              <span class="figure-line1"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-12">
          <div id="shopCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand1.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand2.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand3.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand4.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                </div>

              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand5.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand6.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand7.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/brand8.png" alt="Image" style="max-width:100%;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="best_selling_product mt-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-12">
          <div class="d-flex flex-row">
            <div class="line1">
              <span class="figure-line1"></span>
            </div>
            <div class="title-supplies_area1">
              <h3 class="text-center">OUR BESTSELLING BARISTA ACCESSORIES</h3>
            </div>
            <div class="line2">
              <span class="figure-line1"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-12">
          <div id="shopCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="./img/product/p1/1.jpg" alt="Image" style="max-width:100%;">
                      <div class="card-body">
                        <a href="#">
                          <h5 class="card-title">Small Electronic Scales On Balance DTZ-600</h5>
                        </a>
                        <p class="card-price">€10,9</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="shipping_area mt-5">
    <div class="container">
      <div class="row no-gutters">
        <div class=" col-sm-12 col-lg-12">
          <div class="d-flex justify-content-center">
            <div>
              <img class="image-shipping_area" src="./img/free-shipping.png" alt="">
              <h3 class="title-shipping_area">FREE SHIPPING IN BARISTA SHOP</h3>
              <p class="subtitle-shipping_area">Free shipping to Europe from 200 €</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row no-gutters">
        <div class=" col-sm-12 col-lg-3 p-2">
          <h3 class="title-footer"><span class="title-line">ABO</span>UT BARISTA SHOP</h3>
          <p class="text-footer">In Barista Shop we offer you the best international brands related to the world of coffee: Chemex, Aeropress, Hario, Espro, Able, Bonavita, Mahlkönig, CDN. Barista Shop is the reference website for the good barista.
            Barista Tools,
            Accessories, Coffee Equipement and Coffee Products</p>
        </div>
        <div class=" col-sm-12 col-lg-3 p-2">
          <h3 class="title-footer"><span class="title-line">INF</span>ORMATION</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">MY ACCOUNT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">ALL BRANDS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">LEGAL NOTE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">TERMS AND CONDITIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">FAQS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">CONTACT</a>
            </li>
          </ul>
        </div>
        <div class=" col-sm-12 col-lg-3 p-2">
          <h3 class="title-footer"><span class="title-line">TAG</span>S</h3>
          <div class="tagcloud">
            <div class="tag">
              <a class="tag-link" href="">Automatic</a>
            </div>
            <div class="tag">
              <a class="tag-link" href="">Black</a>
            </div>
            <div class="tag">
              <a class="tag-link" href="">Ceramic</a>
            </div>
            <div class="tag">
              <a class="tag-link" href="">Clear</a>
            </div>
            <div class="tag">
              <a class="tag-link" href="">Digital</a>
            </div>
            <div class="tag">
              <a class="tag-link" href="">Grams</a>
            </div>
            <div class="tag">
              <a class="tag-link" href="">Hand</a>
            </div>
          </div>
        </div>
        <div class=" col-sm-12 col-lg-3 p-2">
          <h3 class="title-footer"><span class="title-line">MOS</span>T VISITED</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">BARISTA TOOLS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">COFFEE MAKERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">COFFEE GRINDERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">CHEMEX</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">HARIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-footer" href="#">MILK PITCHERS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/bundle.js"></script>
</body>

</html>
